<% content_for :body do %>
  <% if @teams.any? %>
    <section>
      <ul id="teams">
        <%= render partial: "team", collection: @teams %>
      </ul>
    </section>
  <% else %>
    <%= t('.no_items_yet') %>
  <% end %>
<% end %>

<%= render '/refinery/content_page' %>